.work__list {
    display: flex;
    margin: -15px;
    justify-content: center;
  }
  .work__item {
    margin: 15px;
  }
  .work__thumb{
    position: relative;
  }
  .section__title {
    color: $title-text-color;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    margin-bottom: 50px;
  }
  .feature__name--overlay {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
  
    padding-top: 27px;
    padding-left: 107px;
    padding-bottom: 27px;
    margin-bottom: 0;
    color: #ffffff;
    background-color: rgba(47, 48, 58, 0.8);
  }
  @media screen and (max-width:1200px){
    .work{
        display: none;
    }
  }